.row
  .col-sm-1
    .category.list{"ng-controller" => "CategoryCtrl as Category"}
      %ul{class: 'list-group', "ng-show"=> "categories.length"}
        %li{ class: 'list-group-item', "ng-model" => "blog_list", "ng-repeat" => "category in categories"}
          %a{"ng-click" => "callBlogs(category.id)"} {{category.name}}
  .col-sm-2  
    .blog.list{"ng-controller" => "BlogCtrl as Blog"}
      %ul{class: 'list-group', "ng-show"=> "blogs.length"}
        %li{class: 'list-group-item', "ng-model" => "blog_data", "ng-repeat" => "blog in blogs"}
          %a{"ng-click" => "callBlog(blog.id)"} {{blog.name}} 
  .col-sm-9
    .blog.data
      %table
        %tr
          %td
            {{blog.name}}
          %td  
            {{blog.description}}
          %td  
            %span{"ng-bind" => "blog.created_at | date:'MM/dd/yyyy HH:mm'"}
          %td  
            {{bloger}}
      %table{"ng-show"=> "messages.length", "ng-repeat" => "message in messages"}
        %tr
          %th
            Title
          %th
            Last update
          %th
            Publiched at
        %tr
          %td
            {{message.title}}
          %td
            {{message.updated_at | date:'MM/dd/yyyy HH:mm'}}
          %td
            {{message.publiched_at | date:'MM/dd/yyyy HH:mm'}}
        %tr
          %td{:colspan => "3"}  
            %span{"ng-bind-html" => "$sce.trustAsHtml(message.content)"}
        %tr
          %td{:colspan => "3"}
            = form_tag home_add_comment_path, remote: true do
              .form-group    
                = hidden_field_tag 'message_id',"{{message.id}}"
                = label_tag 'Firstname'
                = text_field_tag 'firstname', nil, {class: 'form-control'}
                = label_tag 'Lastname'
                = text_field_tag 'lastname', nil, {class: 'form-control'}
                = label_tag 'E Mail'
                = email_field_tag 'email', nil, {class: 'form-control'}
                = label_tag 'Comment'
                = text_area_tag 'comment', nil, {class: 'form-control'}
                = submit_tag 'Submit', {class: 'btn btn-primary'}  
        %tr
          %td  
            %table{"ng-show"=> "comments.length", "ng-repeat" => "comment in comments"}
              %tr
                %td
                  {{comment.commentator_name}}
                %td 
                  {{comment.updated_at  | date:'MM/dd/yyyy HH:mm'}}
                %td
                  {{comment.content}}          
            

